@charset "utf-8";
/* CSS Document */

/*CSS reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textatea,p,blockquote,th,td{margin:0; padding:0;}
body{font-size:12px; font-family:"微软雅黑","宋体"; color:#000; -webkit-text-size-adjust:none; background:#FFF;}
table{border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{ font-style:normal; font-weight:normal;}
ol,ul,li{list-style:none;}
caption,th{text-align:left;}
addr,acronym{border:0;}
a{color:#333;}
a:active,a:link,a:visited{text-decoration:none;}
.clear{clear:both;}
.fl{float:left;}
.fr{float:right;}
.eng{font-size:10px; font-family:Arial, Helvetica, sans-serif; font-weight:normal;}
strong{font-weight:bold;}
.orange{color:#ff6600;}

.clearfix:after{content:'\20';display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:block;zoom:1;}html[xmlns]
.clearfix{display:block;}* html.clearfix{height:1%;}

.mlr5{margin-left:5px; margin-right:5px;}
.mlr10{margin-left:10px; margin-right:10px;}
.ml10{margin-left:10px;}
.ml5{margin-left:5px;}

.head_Rtop{width:680px; height:24px; margin-bottom:15px; overflow:hidden;}

.head_wq_dl{width:73px; height:24px; overflow:hidden;}
.head_wq_dl dt{background:url(../img/top_wq_icon.gif) no-repeat right center; color:#333; cursor:pointer; width:63px; height:24px; line-height:24px; padding:0 5px; overflow:hidden;}
.head_wq_dl dd{background:url(../img/headBg.png) repeat; display:none; position:absolute; padding:10px 5px 5px 5px; width:63px; overflow:hidden;}
.head_wq_dl dd li{width:63px; padding-bottom:5px; margin-bottom:5px; overflow:hidden;}
.head_wq_dl a{color:#333;}
.head_wq_dl a:hover{color:#f5a11b;}

.top_nav{ width:430px; height:24px; line-height:24px; text-align:right; color:#4c3f3b; overflow:hidden;}
.top_nav a{background:url(../img/top_nav_li.gif) no-repeat left center; padding-left:10px; color:#4c3f3b; margin-right:10px; overflow:hidden;}
.top_nav a:hover{color:#f5a11b;}

.food_bg{width:100%; background:#e2e2e2;}
.food{margin:0 auto; color:#666; width:980px; background:#e2e2e2; padding:15px 0 50px 0; overflow:hidden;}
.food_nav{width:420px; overflow:hidden;}
.food_copyright{width:530px; text-align:right; overflow:hidden;}
.food a{color:#666;}
.food a:hover{color:#ff9900;}

.page{width:100%; margin:10px auto; padding:10px 0px; text-align:center; overflow:hidden;}
.page a{border:1px solid #ccc; background:#FFF; text-align:center; margin:0 5px; padding:2px 5px; color:#333;}
.page a:hover,.page a.on{ border:1px solid #6d5c55; background:#6d5c55; text-align:center;  color:#FFF;}

/*新增*/
#header {height: 74px;position: absolute;width: 100%;z-index: 1000;top:0;background:#FFF;}
.header_top{ position:relative; z-index:10; width:1000px; margin:-4px auto; text-align:left; height:30px;}
.logo{ float:left; padding-top:10px;}
.h-right{ float:right; padding-top:10px;}
.h-right ul{  display:inline; padding-right:5px; line-height:24px;}
.h-right li{ float:left; color:#3a3a3a; display:inline;}
.h-right a{color:#5e5756; font-size:12px; }
.h-right a:hover{ color:#f98b0c;}
.h-right .li_a .on{ background:url(../img/i02.gif) no-repeat 43px 5px; position:relative; z-index:1; display:block;}
.h-right .li_a{ background:url(../img/i01.gif) no-repeat left 11px; padding-left:10px; margin-left:15px;}
.navbody{position:absolute; left:0;top:48px; width:100%; padding-top:26px;}
.nav{ width:1000px; position:absolute; left:50%;top:-13px; margin-left:-500px;}
.nav li {padding: 0 0 0 34px;}
.nav_ul{ float:right; display:inline; padding-right:10px;}
.nav li{ float:left; color:#000; font-size:15px; font-weight:bold; display:inline; padding:0 0 0 35px;}
.nav_li{ position:relative; z-index:2;}
.nav_li_hover{ z-index:1;}
.nav_li .on{ display:block; float:left; height:39px; position:relative; z-index:2; cursor: pointer; color:#000; font-size:16px;}
.subnav{position:absolute; top: 0; overflow:hidden; height:29px; width:780px; padding-top:45px; z-index:1; display:none;}
.nav_li_hover .subnav{ display:block;}
.nav_li :hover{color:#666;}
.nav_li_hover .on{ background:url(../img/i07.png) no-repeat center bottom; /*for IE6*/color:#666;}
.subnav li{  font-size:12px; color:#fff; font-weight:normal; padding:0 20px 0 0}
.subnav li a{color:#fff; font-size:14px;}
.subnav li a:hover{color:#f98b0c;}
.sub-ul01{left:38px; }
.sub-ul02{left:35px; width:560px;}
.sub-ul03{right:-600px; }
.sub-ul04{right:0px;}
.sub-ul05{right:0px;}
.sub-ul06{right:0px;}
.sub-ul06 ul,.sub-ul05 ul,.sub-ul04 ul{ float:right;}
.sub-ul06 ul li,.sub-ul05  ul li,.sub-ul04  ul li{ padding:0 0 0 20px;}
.subnavbg{ background-color:#646e71;opacity:0.5;filter:Alpha(Opacity=50); height:29px; width:100%; display:none;}

.banner,.pic,.pic li{width:100%; height:480px;}
.banner{position:relative; margin-bottom:20px;}
.pic li{cursor:pointer; position:absolute; left:0; top:0; display:none;}
.ben{
    margin:0 auto;
    width:100%;
    height:48px;
    position:absolute;
    bottom:0;
    left:0;
    overflow:hidden;
}
.ben_main{margin:0 auto; width:960px; height:58px; overflow:hidden;}
.ben_li{width:450px; height:58px; overflow:hidden;}
.ben_li li{width:20px; height:58px; margin-right:5px; cursor:pointer; float:left; background:url(../img/ben_li.png) no-repeat center; overflow:hidden;}
.ben_li li.bCur{background:url(../img/ben_li_on.png) no-repeat center;}
.ben_Text{width:400px; text-align:right; height:48px; color:#FFF; font-size:19px; overflow:hidden;}
.ben_Text li{width:400px; height:48px; line-height:48px; display:none; }

.Index_foot{
    margin:50px auto 25px;
    padding-top: 20px;
    text-align:center;
    line-height:2;
    color:#8d8f8e;
    font-size:14px;
    overflow:hidden;
    width: 100%;
    height: 80px;
}
.Index_foot a{color:#8d8f8e;}
.Index_foot a:hover{color:#f5a11b;}

/* 分页 */
.content .btn{
    width:254px;
    height:28px;
    float:right;
    padding-right:20px;
    padding-bottom:60px;
    margin-top: 20px;
}

.content .pagination {
    float: right;
}

.content .pagination li {
    width:27px;
    height:31px;
    float:left;
    border:1px solid #D1DAE8;
    cursor:pointer;
    background-color: #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.content .pagination li a{
    width: 100%;
    height: 100%;
    display: block;
    line-height:33px;
    text-align:center;
    color:#333;
    text-decoration: none;
}

.btn ul li .active{
    background-color: #333;
    color:white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.content .pagination li.no1,.main-bar-center .btn ul li.no7{
    width:35px;
}
.content .pagination li.no1 a,.main-bar-center .btn ul li.no7 a{
    display: block;
    width:35px;
}
.content .pagination li.no4 a{
    background-color:#333;
    color:white;
}
.content .pagination li a:hover{
    display: block;
    background-color:#333;
    color:white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
/* 分页end */

.banner-top-at {
    color: grey;
}
