{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/join.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block join_nav %} style="color: grey;" {% endblock %}

{% block content %}
    <div class="banner_img">
        <img src="{% static 'img/f6e79d9850.png' %}">
    </div>
    <div class="content">
        <div class="news_content">
            <div class="left_content">
                <div class="menu" style="">
                    <div class="menu_title">
                        <p class="menu_title_eng">JOIN</p>
                        <p>加入上锦</p>
                    </div>
                    <div class="menu_list">
                        <ul>
                            <li><a href="{% url 'talent_concept' %}" class="menu_li">人才理念</a></li>
                            <li><a href="{% url 'join_us' %}" class="menu_li active">招聘信息</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="right_content">
                <div class="Rtitle_noBorder">
                    <div>招聘信息</div>
                    <div class="bread"><a href="{% url 'index_view' %}">首页</a> > <a href="{% url 'talent_concept' %}">加入上锦</a> > 招聘信息</div>
                </div>
                <div class="join_us_detail">
                    {{position.content|safe}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}



